{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-header bg-success text-white">
                    <h4>Password Changed</h4>
                </div>
                <div class="card-body">
                    <p>Your password has been successfully changed.</p>
                    <a href="{% url 'settings' %}" class="btn btn-primary w-100">Return to Settings</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
